.button {
  padding: 0.5vw 1vw;

  background: linear-gradient(90deg, #aaa, #ddd, #eee, #eee, #ddd, #aaa);
  border-style: solid;
  border-width: 0.1vw;
  border-radius: 0.4vw;

  color: #555;
  font-size: 1.2vw;
  font-family: 'New Rocker', cursive;

  &:hover {
    cursor: pointer;
    color: #111;
  }
}

.delete-button {
  background: linear-gradient(
    90deg,
    rgb(148, 36, 36),
    rgb(212, 52, 52),
    rgb(228, 51, 51),
    rgb(228, 51, 51),
    rgb(212, 52, 52),
    rgb(148, 36, 36)
  );
  color: white;

  &:hover {
    color: rgb(88, 27, 27);
  }
}

.save-button {
  background: linear-gradient(
    90deg,
    rgb(49, 148, 36),
    rgb(52, 212, 73),
    rgb(57, 228, 51),
    rgb(57, 228, 51),
    rgb(52, 212, 73),
    rgb(49, 148, 36)
  );
  color: white;

  &:hover {
    color: greenyellow;
  }
}

.disabled-button {
  background: #aaa;
  color: #ccc;
  &:hover {
    cursor: not-allowed;
    color: #ccc;
  }
}

@media (max-width: 1100px) {
  .button {
    padding: 1.5vw 4vw;

    border-width: 0.4vw;
    border-radius: 1.5vw;

    font-size: 3.5vw;
  }
}
